PORT=10000
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

ABEKA_BRANCH_NUMBER=
FADAMA_BRANCH_NUMBER=
TABORA_BRANCH_NUMBER=
EAST_LEGON_BRANCH_NUMBER=
GCTU_BRANCH_NUMBER=
RACE_COARSE_BRANCH_NUMBER=